html,
body,
footer {
    overflow-x: hidden;
    max-width: 100%;
}

body,
ul,
li,
p {
    margin: 0px;
    padding: 0px;
    list-style: none;
    font-size: 16px;
}

.roboto-medium {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
}

:root {
    --cascaDeLaranja: #FF9E1A;
    --laranja: #f5a623;
    --damasco: #FDD1B6;
    --azul: #000080;
    --cinza-claro: #EBEBEB;
    --cinza-intermediario: #E0E0E0;
    --jordyAzul: #92BCEA;
    --preto: #000;
    --branco: #fff;
    --verde: green;
    --vermelho: red;
    --pretoAcizentado: #323232;
    --lazuli: #08558B;
}

body {
    background-color: var(--cinza-claro);
}

h1,
h2 {
    text-align: center;
    margin: 0;
}

img {
    max-width: 100%;
    display: block;
}

.hidden {
    display: none;
}
                            /*alteração AJUSTAR PARA TODAS AS TELAS EM TABLET ESTÁ APARECENTO O MENU BACK*/
                            .menuBack{
                                display: none;
                            }

                            /* .menuBack{     O FLEX FAZ APARECER O MENU.....
                                display: flex;
                            } */

                            li.menuFront{
                                display: block;
                            }
                            /*alteração*/


                            /*alteração
                            #navCad li{
                                display: none;
                            }

                            .navCad{
                                display: flex;
                                flex-direction: row;
                                justify-content: center;
                                align-items: center;
                            }

                            .navCad li{
                                text-decoration: none;
                            }
                            */

.header {
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    background: linear-gradient(to right, var(--damasco), var(--laranja));
    width: 100%;
}

header .logo {
    width: 20%;
}

.header .logo {
    position: absolute;
    width: 200px;
    height: auto;
    left: 160px;
    top: 20px;
    z-index: 1;
}

#fecharBusca,
#imgBusca {
    display: none;
    /*botão fechar do buscar suspenso para tablet e celular e o ícone de lupa*/
}

#divBuscador {
    position: absolute;
    top: 40px;
    width: 70%;
    height: 30px;
}

#divBuscador p {
    padding-top: 20px;
    font-size: 1.1rem;
}

.busca-container {
    margin: -31px auto;
    max-width: 100%;
    text-align: center;
}

.busca-form {
    display: flex;
    justify-content: center;
    align-items: center;
}

.busca-form input[type="text"] {
    /*Largura da caixa de busca */
    width: 30%;
    padding: 9px 0;
    padding-left: 20px;
    border-radius: 20px;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.5);
    border: none;
    outline: none;
}

.busca-form button {
    position: absolute;
    padding: 10px 20px;
    top: -35px;
    left: 67%;
    border: 1px solid var(--branco);
    background-color: transparent;
    color: var(--branco);
    border-radius: 20px;
    cursor: pointer;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.5);
    transition: background-color 0.5s ease;
}

.busca-form button:hover {
    background-color: var(--azul);

}

div.redes {
    display: flex;
    flex-direction: row;
    gap: 15px;
    height: 70px;
    width: 10%;
    background-color: transparent;
    z-index: 5;
    padding-right: 20px;
    justify-content: flex-end;
    margin-left: auto;
}

.redeSocial {
    display: flex;
    justify-content: end;
    align-items: end;
    width: 98%;
    height: 60px;
    gap: 20px;
}


.rede img {
    display: flex;
    margin-bottom: 7px;
    height: 45px;
    width: 45px;
    cursor: pointer;
}

#imgTeleg, #imgBusca{
    border-radius: 9px;
}


/****** MENU *********/

.navigation {
    box-sizing: border-box;
    height: 70px;
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--azul);
    width: 100%;
}


#menu {
    display: flex;
    list-style: none;
    
}


#menu a {
    display: block;
    font-size: 1rem;
    margin: 0 15px;
    padding: 5px 20px;
    color: white;
    font-weight: 700;
    font-family: "Roboto", sans-serif;
    transition: all 0.3s ease;
    text-decoration: none;
    height: 40px;
    line-height: 40px;

}


#menu a:hover {
    transform: scale(1.2);
    text-decoration: underline;
    color: var(--laranja);
}

#btn-mobile {
    display: none;
}

#produtos {
    position: relative;
    /* Necessário para o posicionamento correto do submenu */
}

.submenu {
    display: none;
    list-style: none;
    padding: 10px;
    margin: 0;
    position: absolute;
    left: 0;
    top: 100%;
    background: var(--azul);
    width: 100%;
    border: none;
    z-index: 1000;
    /* Garante que o submenu apareça sobre outros elementos */
}

/* Exibe o submenu quando o item 'Curso (produtos)' é ativado */
#produtos:hover .submenu {
    display: block;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}

.submenu li {
    border-bottom: 1px solid var(--cinza-claro);
}

.submenu li a {
    margin: 0px;
    padding: 0px;
    display: block;
}

.submenu.active {
    display: block;
}


/*************** LOGIN  ***************/

.login {
    display: flex;
    flex-direction: row;
    align-items: end;
    justify-content: end;
    margin-right: 25px;
    margin-top: 10px;

    gap: 20px;
}

.login div {
    display: flex;
    align-items: self-end;
    gap: 20px;
}

#id-login,
#id-cadastrese {
    display: flex;
    color: var(--preto);
    border-radius: 20px;
    padding: 3px 30px;
    border: 1px solid var(--cinza-intermediario);
    font-size: 1.0rem;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.5);
    transition: background-color 0.8s ease;

}

#id-LoginBotao {
    text-decoration: none;
}

#id-login:hover,
#id-cadastrese:hover {
    background-color: var(--azul);
    border: 1px solid var(--branco);
    color: var(--branco);
}


.cadastro {
    display: none;
}

#id-formCadastro {
    padding: 10px 0;
    width: 100%;
    height: 1350px;
    margin: 0 auto;
    border: none;
    border-radius: 10px;
}

/****** SECTION DE BOAS VINDAS *******/

.section-boasVindas {
    display: flex;
    max-width: 100%;
    margin-bottom: 50px;

}


.boasVindas {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;    
    width: 850px;
    padding: 0 0 0 10px;
    margin: 0 auto;
    gap: 5px;
}


.boasVindas-apresentacao {
    display: flex;
    width: 70%;
    margin-bottom: 100px;
}

.boasVindas-apresentacao p{
    font-size: 1.3rem;
}

.boasVindas-apresentacao p b {
    font-family: "Viga", sans-serif;
    font-size: 4.5rem;
    font-weight: 700;
    color: var(--cascaDeLaranja);
}

.boasVindas-apresentacao p::first-letter{
    font-size: 6.5rem;
}


.boasVindas-apresentacao p span {
    font-size: 2.5rem;
    font-weight: 700;
}

.boasVindas-apresentacao p #basico {
    font-size: 1.5rem;
    font-weight: 700;
    color: var(--azul);
}

.boasVindas-apresentacao p #ao {
    font-size: 2.5rem;
    font-weight: 700;
    color: var(--azul);
}

.boasVindas-apresentacao p #avancado {
    font-size: 3.5rem;
    font-weight: 700;
    color: var(--azul);
}


.desconto {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    margin-top: 50px;
    margin-bottom: 100px;
    max-width: 100%;
    background-color: var(--laranja);
    color: var(--branco);
    border-radius: 8px;
    font-size: 1.1rem;
    border: 1px solid var(--branco);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.8);
}



.desconto table {
    display: flex;
    width: 100%;
    text-align: center;
    /* Centraliza os elementos na tabela */
}

.desconto h4 {
    padding-top: 10px;
}

.desconto th,
.desconto td {
    padding: 10px;
    border-top: 1px solid #000;
    
}

.sobre{
    width: 100%;
    margin: 0 auto;
    margin-bottom: 100px;
    background-color: var(--cinza-intermediario);
}

.sobre-conteudo {
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    padding-bottom: 80px;
    margin: 0 auto;
    width: 850px;
    
}

.autor1,
.autor2 {
    display: flex;
    justify-content: center;
    width: 100%;
    gap: 20px;
    padding-top: 50px;
    
}

.imgAutor1 img,
.imgAutor2 img {
    width: 220px;
    height: 220px;
    border-radius: 130px;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.8);
    padding: 10px;
    background: linear-gradient(to bottom, var(--cinza-intermediario), var(--cinza-intermediario), var(--branco));
}

.nomeAutor1,
.nomeAutor2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: justify;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.8);
    padding: 10px;
    border-radius: 8px;
    width: 70%;
    height: 220px;
    background: linear-gradient(to bottom, var(--cinza-intermediario), var(--cinza-intermediario), var(--branco));
    
}

/*************** POUPAP ***************/
.poupap {
    display: flex;
    flex-direction: row;
    align-items: center;
    position: fixed;
    flex-wrap: wrap;
    bottom: 0;
    width: 100%;
    height: 200px;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 2;
}

.poupap div.poupap-lgpd {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 70%;
}

.poupap div.poupap-lgpd p {
                /*alteração*/
                text-align: justify;
                width: 70%;
                /*alteração*/
    color: var(--branco);
    font-size: 1.1rem;
}

.poupap_botoes {
    display: flex;
    flex-direction: row;
}

.poupap div.aceitar {
    display: flex;
    align-items: center;
    justify-content: center;
    display: flex;
    width: 10%;
}


.poupap .aceitar button {
    border-radius: 20px;
    border: 1px solid var(--branco);
    background-color: var(--verde);
    padding: 5px 20px;
    color: var(--branco);
    font-size: 1.2rem;
    font-weight: 400;
    box-shadow: 3px 3px 5px rgba(255, 255, 255, 0.5);

}

.poupap .recusar {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 10%;
}

.poupap .recusar button {
    position: relative;
    right: -550%;
    /* alteração top: 4px;*/
    border-radius: 20px;
    border: 1px solid var(--branco);
    padding: 5px 20px;
    background-color: transparent;
    color: rgba(255, 255, 255, 0.8);
    font-size: 1.2rem;
    font-weight: 400;
    box-shadow: 3px 3px 5px rgba(255, 255, 255, 0.5);
}

/*************** VAGAS ***************/
.section-vagas{
    display: flex;
    flex-direction: column;
    width: 850px;
    margin: 0 auto;
}

.imgVagas img{
    display: flex;
    justify-content: center;
    border-radius: 10px;
    box-shadow: 5px 5px 15px var(--preto);
    margin-bottom: 30px;
}

.conteudo-vagas p{
    display: flex;
    justify-content: center;
    text-indent: 30px;
    font-size: 1.2rem;
    text-align: justify;
}

/*************** HTML ***************/
.section-1 {
    position: relative;
    z-index: 1;
    margin-top: 80px;
    padding: 50px;
}

.section-1::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('../img/bgGloboTag.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-color: var(--cinza-intermediario);
    opacity: 0.3;
    z-index: -1;
}


.section-1-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    flex-wrap: wrap;
    gap: 20px;
    margin: 0 auto;
    max-width: 850px;
    padding: 10px;
    place-items: center;

}

.section-1-gridContexto img, .section-3-contexto img {
    width: 200px;
    border-radius: 10px;
    box-shadow: 5px 5px 10px var(--preto);
}

.section-1-gridContexto p, .section-2-gridContexto p, .section-3-contexto p  {
    text-align: justify;
    font-size: 1.2rem;
    text-indent: 30px;
    line-height: 35px;
}

.histHtml{
    display: flex;
    justify-content: center;
    font-size: 1.4rem;
    text-transform: capitalize;
    font-weight: 600;
    text-align: center;
}


.section-1-gridContexto:nth-child(1) {
    grid-row: 1 / 3;
}

.lblPreco{
    font-size: 1.1rem;
    font-weight: 700;
}

.btnComprar{
                /*alteração*/
                display: flex;
                margin: 10px auto 0px auto;
                /*alteração*/
    border-radius: 20px;
    border: none;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.8);
    padding: 3px 15px;
    font-size: 1.2rem;
    font-weight: 700;
    color: var(--branco);
    background-color: var(--cascaDeLaranja);
}

.btnComprar:hover{
    cursor: pointer;
    background-color: var(--azul);
    
    transition: 0.3s;
}

/*************** CSS ***************/
.section-2 {
    position: relative;
    z-index: 1;
    margin-top: 80px;
    margin-bottom: 100px;
}

.section-2::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('../img/bgCSS.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    opacity: 0.1;
    z-index: -1;
}


.section-2 {
    width: 100%;

}


.section-2-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    flex-wrap: wrap;
    gap: 20px;
    margin: 0 auto;
    max-width: 850px;
    padding: 10px;
    place-items: center;

}

.section-2-gridContexto img {
    width: 200px;
    border-radius: 10px;
    box-shadow: 5px 5px 10px var(--preto);
}


.section-2-gridContexto:nth-child(1) {
    grid-row: 1 / 1;
}

.section-2-gridContexto:nth-child(3) {
    grid-row: 1 / 3;
}

/************ VOLTAR ******************/
.voltar img {
    display: none;
    position: fixed;
    width: 30px;
    right: 250px;
    top: 70%;
    transition: opacity 0.5s ease;
    cursor: pointer;
    z-index: 1;
}

.voltar-topo.show {
    display: block;
    opacity: 1;
}

.section-3-grupo {
    display: flex;
    flex-direction: row;
    gap: 20px;
    max-width: 850px;
    flex-wrap: wrap;
    margin: 0 auto;
    z-index: 0;
}

.section-3-grupo>div {
    flex: 1 1 250px;
    margin: 10px;
}

.section-3-grupo img {
    width: 250px;
}

.section-3-grupo p {
    text-align: center;
}


/*************** JAVASCRIPT ***************/

.section-3 {
    display: flex;
    flex-wrap: wrap;
    background-color: var(--cinza-intermediario);
    padding-top: 20px;
    padding-bottom: 100px;
    width: 100%;
    margin: 0 auto;
}

.sectionConteudo{
width: 850px;
margin: 0 auto;
}


.section-3-contexto {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.conteudo-3 {
    flex-basis: 60%; /* Ocupará 60% da largura */
}

.imgJS {
    flex-basis: 35%; /* Ocupará 35% da largura */
    display: flex;
    justify-content: center;
}

.imgJS img {
    width: 200px;
    
}

.tituloSection{
    padding-top: 80px;
    width: 100%;
    text-align: center;
}

section.depoimento {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 850px;
    margin: 0 auto;
    gap: 20px;
    padding-top: 40px;
    text-indent: 20px;
}

.fotoCliente1,
.fotoCliente2,
.fotoCliente3 {
    display: flex;
    margin-bottom: 50px;
}

div.fotoCliente1 img,
div.fotoCliente2 img,
div.fotoCliente3 img {
    width: 180px;
    height: 170px;
    padding: 10px;
    border-radius: 30px;
    background: linear-gradient(to bottom, var(--cinza-intermediario), var(--cinza-intermediario), var(--branco));
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.8);
}

div.depoimentoCliente1,
div.depoimentoCliente2,
div.depoimentoCliente3 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 650px;
    background: linear-gradient(to bottom, var(--cinza-intermediario), var(--cinza-intermediario), var(--branco));
    border-radius: 8px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.8);
    font-size: 1.2rem;
    height: auto;
    text-align: justify;
    padding: 10px;
    line-height: 30px;
    margin-bottom: 50px;
}

div.depoimentoCliente1 span,
div.depoimentoCliente2 span,
div.depoimentoCliente3 span {
    text-align: end;
    width: 100%;
    font-weight: 700;
    margin-right: 10px;
}

/*************** RODAPÉ ***************/

footer {
    display: flex;
    flex-direction: column;
    bottom: 0;
    width: 100%;
    height: 600px;
    color: var(--branco);
    text-align: center;
    border-top: 2px solid var(--branco);
}

.infoAdicionalRodape {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 70%;
    color: var(--preto);
    background-color: var(--laranja);
    border-bottom: 2px solid var(--branco);
}

.infoAdicionalRodape p {
    display: flex;
    justify-content: center;
    padding: 10px;
    font-size: 1.1rem;
}

.atendimento {
    display: flex;
    flex-direction: column;
}

.faleConosco {
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    text-decoration: none;
    color: var(--branco);
    font-weight: 600;
    width: 290px;
    height: 35px;
    border: 2px solid var(--branco);
    border-radius: 20px;
    background-color: var(--azul);
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
}


footer a {
    text-decoration: underline;
    cursor: pointer;
    color: var(--branco);

}
                /*alteração*/
                .footerLocalizacao{
                    font-size: 1.1rem;
                }
                /*alteração*/


.senac {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 30%;
    background-color: var(--azul);
    padding-top: 10px;
}

.senac p {
    display: flex;
    justify-content: center;
    padding: 10px;
}

@media(max-width: 1440px) {
    .header .logo {
        width: 130px;
        z-index: 3;
    }

    .infoAdicionalRodape button {
        max-width: 20%;
    }
                    /*alteração*/
                    .poupap div.poupap-lgpd p {
                        width: 80%;
                    }
                    /*alteração*/
    

}

@media(max-width: 1024px) {

    .header .logo {
        left: 60px;
    }

    #fecharBusca,
    #imgBusca {
        display: block;
        /*botão fechar do buscar suspenso para tablet e celular e o ícone de lupa*/
    }

    /* Estilo inicial da divBuscador (oculta)*/
    #divBuscador.oculto {
        display: none;
    }

    /* Estilo para quando a divBuscador é exibida */
    #divBuscador.visivel {
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 100.5%;
        height: 120px;
        background: linear-gradient(to right, var(--damasco), var(--laranja));
        /* Fundo da área de busca */
        border-radius: 30px;
        z-index: 100;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        padding: 15px;
        /* Espaçamento interno */
        animation: slideDown 0.5s ease-in-out forwards;
    }

    /* Animação para deslizar de cima para baixo */
    @keyframes slideDown {
        from {
            transform: translateY(-100%);
        }

        to {
            transform: translateY(0);
        }
    }

    /* Estilo do botão fechar */
    #fecharBusca {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: var(--vermelho);
        color: var(--branco);
        width: 3px;
        height: 3px;
        border-radius: 50px;
        border: none;
        padding: 25px;
        cursor: pointer;
        position: absolute;
        top: 10px;
        right: 20px;
        font-size: 1.4rem;
        font-weight: 700;
    }

    /* Estilo do formulário de busca */
    .busca-container {

        display: flex;
        flex-direction: column;
        align-items: center;

    }

    .busca-form input[type="text"] {
        margin-top: 42px;
        width: 100% !important;
        height: 60px;
        border-radius: 30px;
        padding: 10px;
        font-size: 1rem;

    }

    .busca-form button {
        margin-top: 54px;
        padding: 0px 0px;
        left: 62% !important;
        height: 70px;
        border-radius: 30px;
        font-size: 1.3rem;
        background-color: var(--preto);
        color: var(--branco);
        border: 20px solid var(--preto);
        cursor: pointer;
    }


    #imgBusca {
        cursor: pointer;
    }
    .rede img {
        display: flex;
        margin-bottom: 8px;
        height: 40px;
        width: 40px;
    }
        
    .navigation {
        justify-content: flex-end;
    }

    #menu {
        display: block;
        position: absolute;
        width: 40%;
                        /*alteração*/
                        top: 130px;
                        /*alteração*/
        left: 0;
        background: var(--azul);
        transition: 0.6s;
        z-index: 2;
        height: 0px;
        visibility: hidden;
        overflow-y: hidden;
        border-bottom-right-radius: 10px;

    }

    #nav.active #menu {
        height: 550px;
        visibility: visible;
        height: 430px;
        /* overflow-y: auto; */

    }

    #nav.active #menu {
        max-height: 90vh;
        visibility: visible;
        /*overflow-y: auto;  Permite rolagem se o conteúdo exceder a altura */
        transition: max-height 0.3s ease-in-out;
        /* Transição suave para o ajuste da altura */
    }

    .submenu.active {
        display: block;
        max-height: none;
        /* Permite que o submenu cresça conforme necessário */
        transition: max-height 0.3s ease-in-out;
    }

    #menu a {
        padding: 1rem 0;
        margin: 1rem 2rem;
        font-size: 1.2rem;

        border-bottom: 2px solid rgba(0, 0, 0, 0.05);
    }

    .submenu {
        top: 45px;
    }

    #btn-mobile {
        display: flex;
        padding: 0.5rem 1rem;
        font-size: 1rem;
        border: none;
        background: none;
        cursor: pointer;
        gap: 0.5rem;
    }

    #nav #hamburger {
        display: block;
        border-top: 2px solid;
        width: 20px;
        color: var(--branco);
    }

    #hamburger::after,
    #hamburger::before {
        content: '';
        display: block;
        width: 20px;
        height: 2px;
        background: currentColor;
        margin-top: 5px;
        transition: 0.3s;
        position: relative;
    }

    #nav.active #hamburger {
        border-top-color: transparent;
    }

    #nav.active #hamburger::before {
        transform: rotate(135deg);
    }

    #nav.active #hamburger::after {
        transform: rotate(-135deg);
        top: -7px;
    }

    .poupap div.poupap-lgpd p {
        margin-left: 40px;
    }

    .poupap_botoes {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
    }

    .poupap .recusar button {
        right: 1px;
        margin-top: 20px;
    }

    .voltar img {
        right: 50px;
        top: 70%;
    }

    .infoAdicionalRodape button {
        max-width: 30%;
    }
    
}

@media(max-width: 1010px) {

    .fotoCliente1, .fotoCliente2, .fotoCliente3{
        width: 180px;
    }
    
    footer {
        height: 53px;
        padding-top: 0px;
    }

    footer a {
        font-size: 0.8rem;
    }

    footer p {
        display: none;
    }

}

@media(max-width: 850px) {
    .busca-form button {
        left: 65% !important;
    }

    

.boasVindas {
    display: flex;
    flex-direction: column;
    margin: 20px;
    padding: 30px 0 0 0;
}

.boasVindas-apresentacao {
    margin-bottom: 0px;
}

.boasVindas-apresentacao p #basico {
    font-size: 1.5rem;
}

.boasVindas-apresentacao p #ao {
    font-size: 2.1rem;
}

.boasVindas-apresentacao p #avancado {
    font-size: 2.6rem;
}


.boasVindas-apresentacao p{
    font-size: 1.5rem;
    text-align: justify;
}

.desconto{
    margin: 50px auto 0 auto;
}

.tituloSection{
    width: 768px;
}

.autor1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 780px;
}

.autor2{
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    max-width: 780px;
}
.section-vagas{
    width: 740px;
}

.section-3-contexto{
    margin-left: 10px;
}

section.depoimento {
    display: flex;
    flex-direction: column;
    width: 750px;
}

div.depoimentoCliente1,
div.depoimentoCliente2,
div.depoimentoCliente3 {
    width: 650px;
}

    .poupap .aceitar {
        position: relative;
        right: 30px;
    }

    .poupap .recusar button {
        right: 30px;
    }
                        /*alteração*/
                        .voltar img {
                            right: 10px;
                            /*display: none !important;*/
                        }
                        /*alteração*/

    footer {
        height: 600px;
    }

    .infoAdicionalRodape button {
        max-width: 40%;
    }

}

@media(max-width: 480px) {

    /* campo de pesquisa ajustado para esquerda */
    .busca-container {
        display: flex;
        flex-direction: row;
        align-items: start;
    }

    .busca-form input[type="text"] {
        width: 100% !important;
        left: 40% !important;
    }

    .busca-form button {
        padding: 0 10px;
        left: 55% !important;
    }

    #fecharBusca {
        right: 10px;
    }

    div.redes {
        width: 20%;
        height: 50px;
        padding-right: 10px;
    }

    .redeSocial{
        gap: 12px;
    }

    .rede img {
        display: flex;
        margin-bottom: 9px;
        height: 35px;
        width: 35px;
    }

    #imgTeleg{
        height: 35px!important;
        width: 35px!important;
    }

    .header .logo {
        width: 90px;
        left: 30px;
    }

    #menu {
        top: 120px;
        width: 60%;
    }

    .sobre, .tituloSection, .autor1, .autor2 {
        max-width: 425px;
    }

    .nomeAutor1, .nomeAutor2{
        width: 410px;        
    }

    .section-vagas{
        width: 410px;
    }
    
    .section-1, .section-2{
        display: flex;
        justify-content: center;
    }

    .section-3{
        display: flex;
        flex-direction: column;
    }
    .sectionConteudo{
        width: 425px;
    }

    .section-3-contexto {
        flex-direction: column-reverse; 
        text-align: center; 
        width: 410px;
        margin-left: 8px;
    }
    /* #comprarJs{
        margin-left: 5%;
    } */

    .section-1-grid, .section-2-grid{
        display: flex;
        flex-direction: column;
    }

    .section-1-grid h2, .section-1-grid p, .section-2-grid h2, .section-2-grid p{
        width: 410px;
    }

    .sectionConteudo{
        display: flex;
       flex-direction: column;
    } 
    .conteudo-3{       
        width: 100%;
    } 

                /* alteração
                .btnComprar{
                    margin-left: 36%;
                }
                */
    
    .grid3HTML {
        display: flex;
    }

    .grid3HTML img {
        width: 100px;
        height: auto;
        margin-left: calc(39vw - 20px);
    }

    .grid3HTML>div {
        flex: 1 1 250px;
    }

    .grid3CSS {
        display: flex;
    }

    .grid3CSS img {
        width: 100px;
        height: auto;
        margin-left: calc(39vw - 20px);
    }

    .grid3CSS>div {
        flex: 1 1 250px;
    }


section.depoimento {
    width: 425px;    
}

div.depoimentoCliente1,
div.depoimentoCliente2,
div.depoimentoCliente3 {
    width: 415px;
}

.infoAdicionalRodape button {
    max-width: 90%;
}

                /*alteração*/
                .poupap div.poupap-lgpd {
                    width: 90%;
                }
                .poupap div.poupap-lgpd p {
                    margin-left: 0px;
                    /*alteração*/
                    width: 100%;
                    /*alteração*/
                }

                .poupap_botoes {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    width: 90%;
                                      
                }
                /*alinhar os botões ao centro*********************************************/

                /*alteração*/
.poupap {
                    /*alteração*/
                    height: 400px;
                    /*alteração*/
    padding: 10px 0;
    align-items: center;
    justify-content: center;
}
                        /*alteração*/
                        div.aceitar, div.recusar {
                        margin-left: 15%;  
                        }/*alteração*/
}
@media(max-width: 376px) {

    #divBuscador.visivel {
        height: 160px;
    }

    .busca-form input[type="text"] {
        width: 90% !important;
    }

    .busca-form button {
        margin-top: 55px;
        left: 60% !important;
        border: 10px solid var(--preto);
    }

    #fecharBusca {
        top: 100px;
        left: 20px;
    }

    .header div.redes #imgBusca,
    #imgFace,
    #imgWhats,
    #imgTeleg,
    #imgInsta {
        width: 32px;
        height: 32px;
        margin-top: 7px;
    }

    .header .logo {
        width: 80px;
    }

    .boasVindas-apresentacao{
        margin-right: 50px;
    } 

    .sobre, .tituloSection, .autor1, .autor2 {
        max-width: 375px;
    }

    .nomeAutor1, .nomeAutor2{
        width: 360px;
    }

    .section-1-grid h2, .section-1-grid p, .section-2-grid h2, .section-2-grid p{
        width: 360px;
    }
    
                    /* alteração .btnComprar{
                        margin-left: 34%;
                    } */
    .section-vagas{
        width: 351px;
    }
    .section-3-contexto { 
        width: 355px;
    }

    section.depoimento {
        width: 375px;
    }
    
    div.depoimentoCliente1,
    div.depoimentoCliente2,
    div.depoimentoCliente3 {
        width: 365px;
    }
    
                            /*.poupap {
                                height: 400px;
                            }
                            */
}

@media(max-width: 320px) {
 
    .boasVindas .desconto{
        margin: 50px auto 0px auto;
        margin-left: 8%;
    }

    .header .logo {
        width: 70px;
        left: 10px;
    }

    .busca-form button {
        left: 67% !important;
    }


    footer {
        height: 700px;
    }

    .infoAdicionalRodape button {
        width: 80%;
    }

    .boasVindas{
        margin-left: 10px;
    }

    .boasVindas-apresentacao{
        max-width: 330px;
        margin-right: 130px;
    } 
    .boasVindas-apresentacao p{
        font-size: 1.1rem;
        
    }
    

    .sobre, .tituloSection, .autor1, .autor2 {
        max-width: 320px;
    }

    .nomeAutor1, .nomeAutor2{
        width: 310px;
    }
    .section-vagas{
        width: 310px;
    }

.section-1-grid h2, .section-1-grid p, .section-2-grid h2, .section-2-grid p{
        width: 310px;
    }

                    /* alteração.btnComprar{
                        margin-left: 32%;
                    } */
                    
    .section-3-contexto { 
        width: 305px;
    }

    section.depoimento {
        width: 320px;
    }
    
    div.depoimentoCliente1,
    div.depoimentoCliente2,
    div.depoimentoCliente3 {
        width: 310px;
    }
                            /*alteração
                            .poupap {
                                height: 400px;
                            }
                            /*alteração*/

                            /* alteração .poupap .aceitar {
                                position: relative;
                                right: 50px;
                            }

                            .poupap .recusar {
                                position: relative;
                                right: 20px;
                            } */

}